#container {
    display: flex;
    justify-content: center;
}
#clockContainer {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.timeInput {
    width: 2.5rem;
}
.inputPart {
    display: flex;
    justify-content: center;
    align-items: center;
}

#alarmContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#alarmIsSetImageContainer {
    max-width: 50px;
    display: none;
}
#alarmIsRingingImageContainer {
    max-width: 50px;
    display: none;
}
#alramNameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
#alertText {
    color: red;
}
.alertText {
    color: red;
}
